.task-item {
  box-shadow: 0 0px 1px -1px rgba(0, 0, 0, .2), 0 0px 0px 0 rgba(0, 0, 0, .14), 0 1px 1px 0 rgba(0, 0, 0, .12);
  cursor: default;
  margin: 0 auto 14px auto;

  .title {
    color: #1d84ef;
    font-size: 18px;
  }

  .description {
    opacity: .5;
  }
}

