.task-item {
  box-shadow: 0 0px 1px -1px rgba(0, 0, 0, .2), 0 0px 0px 0 rgba(0, 0, 0, .14), 0 1px 1px 0 rgba(0, 0, 0, .12);
  cursor: pointer;
  margin: 0 auto 14px auto;

  .task-link {
    color: rgba(0,0,0,.8);
    font-weight: bold;
    margin-right: 5px;
    opacity: .8;
    padding-right: 10px;
    text-transform: uppercase;
    font-size: 14px;
  }

  .title {
    font-size: 18px;
    opacity: .6;
  }

  .description {
    opacity: .5;
  }

  .status {
    background-color: rgba(0,0,0,.1);
    border-radius: 4px;
    opacity: .5;
    padding: 2px 5px;

    &-icon {
      background-color: transparent;
      padding: 0;
      opacity: .5;

    }
  }

  .mark-done {
    margin: 0;
  }
}

