<mat-toolbar class="toolbar">
  <img class="logo" src="/assets/images/logo.svg">
  {{ title }}
</mat-toolbar>

<div class="board" [ngClass.lt-sm]="{'board-small': true}" cdkDropListGroup fxLayout="row" fxLayoutAlign="start start" fxLayout.lt-md="column" fxLayoutAlign="start stretch">
  <app-task-list
    fxFlex
    *ngFor="let taskList of taskLists; first as isFirst; last as isLast"
    [taskList]="taskList"
    [isFirst]="isFirst"
    [isLast]="isLast"
    (OnDrop)="drop($event)">
  </app-task-list>
</div>
