.task-list {
  margin: auto 10px;
  padding: 5px;

  .title {
    font-weight: 500;
    opacity: .4;
    text-transform: uppercase;
  }

  .item-list {
    min-height: 75vmin;
    background: #f2f7fb;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    padding: 15px;

    &.last-workflow {
      background-color: #a5dfe1;
    }
  }

  .item-placeholder {
    background-color: transparent;
    border: dashed 2px rgba(80, 87, 94, .1);
    border-radius: 4px;
    min-height: 96px;
    margin-bottom: 14px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}
