.task-list {
  background: #f2f7fb;
  border-radius: 4px;
  margin: auto 10px;
  padding: 5px;

  &.last-workflow {
    background-color: #a5dfe1;
  }

  &-lg {
    min-height: 90vmin;
  }

  .title {
    font-weight: 500;
    opacity: .4;
    text-transform: uppercase;
    margin-left: 20px;
  }

  .item-list {
    min-height: 110px;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    padding: 15px;

    &-empty {
      border: dashed 2px rgba(80, 87, 94, .05);
    }

    &.item-list-lg {
      min-height: 90vmin;
    }
  }

  .item-placeholder {
    background-color: transparent;
    border: dashed 2px rgba(80, 87, 94, .1);
    border-radius: 4px;
    min-height: 96px;
    margin-bottom: 14px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .no-tasks-text {
    opacity: .2;
  }
}
